.navbar {
  background: #fff url(/img/menubg.png) bottom left repeat-x;
  margin-top: 28px;
  margin-bottom: 20px;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;

  .navbar-brand {
    background: url(/img/eshu.png) left center no-repeat;
    width: 167px;
    height: 90px;
    text-indent: -99999px;
  }

  ul.navbar-nav {
    text-align: center;
    font-size: 1rem;
    color: #666;
    text-transform: uppercase;
    div a i {
      line-height: 45px;
      color: #aaa;
    }

    div {
      padding: 15px 20px;
      padding-bottom: 0;
      color: white;
      text-align: center;
    }

    div:hover,
    div:focus {
      background: $ES_voros;
      border-color: $ES_voros;
      color: #fff;
      outline: 0;
    }
    div a {
      color: #fff;
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  ul.navbar-nav div a i {
    display: none;
  }
  ul.navbar-nav div a {
    color: #5d5d5d;
  }
}



footer {
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: $ES_voros;
  color: white;
  height: 50px;
  text-align: center;
}

footer a {
  text-align: center;
  padding: 0 3px;
  color: inherit;
}
footer a:hover {
  color: inherit;
}
footer a .fa-facebook-square {
  text-align: center;
  padding: 0 3px;
  color: inherit;
}

.section {
  margin: 30px 0 auto;
}
